# Object Detection

## Exploratory Data Analysis

In [1]:
import os
import pandas as pd
import cv2
import matplotlib.pyplot as plt

### Load dataset

In [2]:
train_annotations = pd.read_csv('../data/SKU-110K_fixed/annotations/annotations_train.csv')
train_annotations

           train_0.jpg   208   537   422   814  object  3024  3024.1
0          train_0.jpg  1268  1923  1365  2209  object  3024    3024
1          train_0.jpg  1135  2074  1261  2166  object  3024    3024
2          train_0.jpg  1045  2085  1122  2258  object  3024    3024
3          train_0.jpg   976  2036  1040  2177  object  3024    3024
4          train_0.jpg   863  2048   937  2194  object  3024    3024
...                ...   ...   ...   ...   ...     ...   ...     ...
1208476  train_999.jpg   422  2386   675  2542  object  2336    4160
1208477  train_999.jpg   427  2581   667  2715  object  2336    4160
1208478  train_999.jpg   699  2365   823  2474  object  2336    4160
1208479  train_999.jpg  1849  1678  2108  1769  object  2336    4160
1208480  train_999.jpg   905  1589  1144  1712  object  2336    4160

[1208481 rows x 8 columns]

In [ ]:
img = cv2.imread0.('../data/SKU-110K_fixed/annotations/annotations_train.csv')